@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Lato', ui-sans-serif, system-ui, sans-serif;
}

:root {
    font-family: var(--font-sans);
    --primary: #E3BB45;
    --secondary: #0a0a0a;
    --white: #FFFFFF;
    --black: #000000;
}