@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Lato", ui-sans-serif, system-ui, sans-serif;
}

:root {
    font-family: var(--font-sans);
    --primary: #e3bb45;
    --secondary: #0a0a0a;
    --white: #ffffff;
    --black: #000000;
}

.label {
    @apply block text-sm font-medium text-gray-700;
}

.input {
    @apply w-full mt-2 px-4 py-3 border border-gray-300 rounded-md focus:ring-1 focus:ring-(--primary) focus:border-(--primary) outline-none transition;
}
