@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Lato", ui-sans-serif, system-ui, sans-serif;
}

:root {
    font-family: var(--font-sans);

    --primary: #e3bb45;

    --secondary: #0a0a0a;
    --secondary-2: #121212;
    --secondary-3: #1a1a1a;

    --white: #ffffff;
    --black: #000000;

    --text: #e5e5e5;
    --muted: #9ca3af;

    --card: #141414;
    --border: #262626;
}


.label {
    @apply block text-base text-gray-400;
}

.input {
    @apply w-full mt-2 px-4 py-3 bg-white/5 border border-yellow-500/20 rounded-md text-white focus:outline-none focus:border-yellow-500/40 transition-all;
}